.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, .56);
    overflow-y: auto;
}

.hide {
    display: none;
}

.modal {
    padding: 25px 45px 25px 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 470px;
    background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    // max-height: 100vh;


    &__close {
        position: absolute;
        top: 0;
        right: -40px;
        font-size: 40px;
        line-height: 20px;
        color: $main-color;
        cursor: pointer;
    }

    &__title {
        font-family: 'Aleo';
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        color: #0D606F;
        text-align: center;
        padding-bottom: 30px;
    }

    label {
        font-size: 16px;
        line-height: 19px;
        color: #0D606F;
    }

    input {
        margin-top: 5px;
        width: 95%;
        padding: 0;
        padding-left: 5%;
        background: #FFFFFF;
        box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
        border-radius: 10px;
        border: none;
        height: 54px;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 19px;
        color: #0D606F;
        outline: none;
    }



    .divider {
        padding-top: 26px;
        border-bottom: 1px solid rgba(13, 96, 111, 0.5);
    }

    &__link {
        display: block;
        margin: 10px auto 0 auto;
        text-align: center;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        color: rgba(13, 96, 111, 0.5);
        text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.16);
        text-decoration: none;
        cursor: pointer;

        span {
            text-decoration: underline;
            color: #0D606F;
        }
    }

    &__wrap {
        display: flex;
        justify-content: center;
        align-items: center;

        .divider__half {
            border-bottom: 1px solid rgba(13, 96, 111, 0.5);
            width: 45.5%;
        }
    }

    &__choise {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: rgba(13, 96, 111, 0.5);
        margin: 0 10px;
    }

    // .error {
    //     border: 1px solid red;
    // }

    // label.error {
    //     border: none;
    //     text-align: center;
    //     margin-bottom: 15px;
    // }
}

// #logIn,
// #createAccount {
//     display: none;
// }

// @media (max-width: 470px) {
//     .modal {
//         &__close {
//             position: relative;
//             top: -10px;
//             right: -280px;

//         }
//     }
// }